<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {% for question in question_list %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                {% if error_message %}<p><strong>{{ question.question_text }} {{ error_message }}</strong></p>{% endif %}
                {% for choice in choices %}
                    {% if question.id == choice.question_id %}
                        <input type="radio" name="{{question.question_text}}" value="{{ forloop.counter }}" id="choice{{ forloop.counter }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>



</body>
</html>