<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {% for question in question_list %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                {% for choice in choices %}
                    {% if question.id == choice.question_id %}
                        <input type="radio" name="{{question.question_text}}" value="{{ choice.id }}" id="choice{{ choice.id }}">
                        <label for="choice{{ choice.id }}">{{ choice.text }}</label><br>
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>

            

</body>
</html>